.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.center h1 {
  font-size: 2.1rem;
  font-size: clamp(2.1rem, 1.32rem + 3.9vw, 6rem);
  text-align: center;
  padding-block: 15%;
}

.center h1 span {
  color: #8a8a93;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.expfirst img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  font-style: italic;
  border-radius: 100vw;
  object-fit: cover;
  object-position: center;
  image-rendering: auto;
  margin-block-start: 4em;
}

.expfirst {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  max-width: 63ch;
  line-height: 1.3em;
  padding-block-end: 2rem;
}
.expfirst h3 {
  color: #8a8a93;

  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.expfirst .cv {
  color: white;
  border-radius: 99px;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.625rem 1.25rem;
  max-width: 25%;
  text-align: center;
  cursor: pointer;
  border: 2px solid #8a8a93;
  transition: all 650ms cubic-bezier(0.33, 1, 0.68, 1);
}

.expfirst .cv:hover {
  background-color: #ff5e1a;
  border: 2px solid transparent;
}

.expfirst .experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.expfirst .experience h3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ff5f1ada;
  font-weight: 600;
  line-height: 1.75em;
}
.expfirst .experience p {
  line-height: 1.5em;
}

.expfirst .experience ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.expfirst .experience li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4em;
  padding: 0.5rem;
}

@media (width<=65em) {
  .flex {
    flex-direction: column;
  }

  .expfirst .cv {
    max-width: 60%;
  }

  .expfirst .experience ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
