.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.skills p {
  background-color: #131315;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  letter-spacing: -0.01em;
  flex-grow: 1;
}
