* {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  max-width: 77.5rem;
  margin-inline: auto;
  background-color: #000;
  padding-block-start: 0.5rem;
  padding-inline: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
